<body class="bodyAppli">
    <div id="rechAction">
        <div class="titre">
            <h1>RECHERCHE D'UNE ACTION</h1>
            <p id="idParagraphe1">Pour quelle action voulez vous postuler aujourd'hui ? </p>
        </div>
        <div class="menu">
            <div class="menuGauche">
                <div id="titreRecherche">Recherche Avancée</div>
                <form class="formRecherche" method="post">
                    <div class="catRecherche">
                        <label>Type de Services :</label>
                        <div class="services">
                            @{var activites = ViewBag.listeActivites as List<Pand_Ami.Models.Activite>;
                                @for (int i = 0; i < activites.Count; i++)
                                {
                                    if (i.Equals(ViewBag.activSelect))
                                    {
                                        <input type="radio" id="radioBtnServ" name="radioActivite" value="@activites[i].Id_activite" checked="checked" /> @activites[i].Nom_activite<br />
                                    }
                                    else
                                    {
                                        <input type="radio" id="radioBtnServ" name="radioActivite" value="@activites[i].Id_activite" /> @activites[i].Nom_activite<br />
                                    }
                                }
                            }
                        </div>
                    </div>
                    <div class="catRecherche">
                        <label>A partir du :</label>
                        <input type="date" id="from" name="dateFrom" value=@ViewBag.dateFrom min=@ViewBag.dateFromMini />
                    </div>
                    <div class="catRecherche">
                        <label>Jusqu'au :</label>
                        <input type="date" id="to" name="dateTo" value=@ViewBag.dateTo min=@ViewBag.dateToMini />
                    </div>
                    <div class="catRecherche">
                        <label> Villes :</label>
                        <div class="departements">
                            <select id="lstVille" name="lstVille">
                                @{var villes = ViewBag.villes as List<Pand_Ami.Models.Referentiels.Ville>;

                                    for (int i = 1; i < villes.Count + 1; i++)
                                    {
                                        if (i.Equals(ViewBag.villeSelect))
                                        {
                                            <option value="@i" selected>@villes[i - 1].CodePostal - @villes[i - 1].NomVille</option>
                                        }
                                        else
                                        {
                                            <option value="@i">@villes[i - 1].CodePostal - @villes[i - 1].NomVille</option>
                                        }
                                    }
                                }
                            </select>
                        </div>
                    </div>
                    <input class="lesBoutons" type="submit" id="btnActualiser" value="Actualiser" />
                </form>
                <a class="nav-link text-dark" asp-area="" asp-controller="Recherche" asp-action="afficherActions">Annuler</a>
            </div>


            <div class="menuDroit">

                <div class="actions">
                    <div class="titreActions">
                        <label>Actions</label>
                        <label>Statut</label>
                        <label>Choix</label>
                    </div>
                    <div class="listeActions">

                        @foreach (var actionAffichage in ViewBag.lesActionsAffichages)
                        {
                            <form method="post" class="demande">
                                @{
                                    ActionDAO actDAO = new ActionDAO();
                                    string statut = actDAO.RecupererStatutAction(actionAffichage.IdAction);
                                    int gamme = actDAO.RecupererGammeActivite(actionAffichage.IdAction);
                                    if (statut == "Vous a été attribuée")
                                    {
                                        <div class="description selectionne">
                                            @{
                                                switch (gamme)
                                                {
                                                    case 1:
                                                        <img src="~/img/coursesW.svg" />
                                                        break;
                                                    case 2:
                                                        <img src="~/img/voitureW.svg" />
                                                        break;
                                                    case 3:
                                                        <img src="~/img/outilsW.svg" />
                                                        break;
                                                    case 4:
                                                        <img src="~/img/jeuxW.svg" />
                                                        break;
                                                }
                                            }
                                            <p>@actionAffichage.NomUtilisateur</p>
                                            <p>@actionAffichage.NomActivite</p>
                                            <p>
                                                @(actionAffichage.DateAction.ToString("dd/MM/yyyy"))<br/>
                                                @("de " + @actionAffichage.HeureDebut+ " h " +  @actionAffichage.MinuteDebut + " à " + @actionAffichage.HeureFin + " h " + @actionAffichage.MinuteFin)
                                            </p>

                                            <p id="lastP">@actionAffichage.NomVille</p>
                                            <input type="hidden" name="idAction" value="@actionAffichage.IdAction" />
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="description">
                                            @{
                                                switch (gamme)
                                                {
                                                    case 1:
                                                        <img src="~/img/coursesW.svg" />
                                                        break;
                                                    case 2:
                                                        <img src="~/img/voitureW.svg" />
                                                        break;
                                                    case 3:
                                                        <img src="~/img/outilsW.svg" />
                                                        break;
                                                    case 4:
                                                        <img src="~/img/jeuxW.svg" />
                                                        break;
                                                }
                                            }
                                            <p>@actionAffichage.NomUtilisateur</p>
                                            <p>@actionAffichage.NomActivite</p>
                                            <p>
                                                @(actionAffichage.DateAction.ToString("dd/MM/yyyy"))<br />
                                                @("de " + @actionAffichage.HeureDebut+ " h " +  @actionAffichage.MinuteDebut + " à " + @actionAffichage.HeureFin + " h " + @actionAffichage.MinuteFin)
                                            </p>
                                            <p id="lastP">@actionAffichage.NomVille</p>
                                            <input type="hidden" name="idAction" value="@actionAffichage.IdAction" />
                                        </div>
                                    }
                                }
                                <div class="statut">
                                    <label>@statut</label>
                                </div>
                                <div class="choix">
                                    @if (statut != "En recherche d'un Volontaire")
                                    {
                                        <div class="empty"></div>
                                    }
                                    else
                                    {
                                        <input class="lesBoutons" id="btnPostuler" type="submit" value="Postuler" asp-controller="Recherche" asp-action="Postuler" />
                                    }
                                </div>
                            </form>
                        }
                    </div>
                </div>
            </div>
        </div>

    </div>
</body>