
<div id="rechAction">
    <div class="titre">RECHERCHE D'UNE ACTION</div>
    <div class="menu">
        <div id="titreRecherche">Recherche Avancée</div>
        <form class="formRecherche" method="post">
            <div class="catRecherche">
                <label>Types de Services :</label>
                <div class="services">
                    @foreach (var activite in ViewBag.listeActivites)
                    {
                        <input type="radio" name="radioActivite" value="@activite.Id_activite" />@activite.Nom_activite<br />
                    }
                </div>
            </div>
            <div class="catRecherche">
                <label>A partir du :</label>
                <input type="date" id="from" name="dateFrom" />
            </div>

            <div class="catRecherche">
                <label>Jusqu'au :</label>
                <input type="date" id="to" name="dateTo" />
            </div>

            <div class="catRecherche">
                <label> Villes :</label>
                <div class="departements">
                    <select id="lstVille" name="lstVille" , asp-items="ViewBag.villes">
                        <option value="">Ville</option>
                    </select>
                </div>
            </div>

            <input type="submit" class="actualiser" value="Actualiser" />
        </form>
    </div>
    <div class="actions">
        <div class="titreActions">
            <label>Actions</label>
            <label>Statut</label>
            <label>Choix</label>
        </div>
        <div class="listeActions">

            @foreach (var actionAffichage in ViewBag.lesActionsAffichages)
            {
                <form method="post" class="demande">
                    <div class="description">
                        <!-- ajouter les images avec un if -->
                        <p>@actionAffichage.NomUtilisateur</p>
                        <p>@actionAffichage.NomActivite</p>
                        <p>@actionAffichage.DateAction.ToString("MM/dd/yyyy") de @actionAffichage.HeureDebut h @actionAffichage.MinuteDebut à @actionAffichage.HeureFin h @actionAffichage.MinuteFin</p>
                        <p>@actionAffichage.NomVille</p>
                        <input type="hidden" name="idAction" value="@actionAffichage.IdAction" />
                    </div>
                    <div class="statut">
                        @{
                            ActionDAO actDAO = new ActionDAO();
                            string statut = actDAO.RecupererStatutAction(actionAffichage.IdAction, 3); /*Par défaut l'utilisateur est defini à l'id 3*/
                            if (statut == "")
                            {
                                <label>Finalisée à faire disparaitre pour cet utilisateur</label>
                            }
                            else
                            {
                                <label>@statut</label>
                            }
                        }

                    </div>
                    <div class="choix">
                        @if (statut == "En cours d'attribution")
                        {
                            <input class="postuler" type="submit" value="Postuler" asp-controller="Recherche" asp-action="Postuler" />
                        }
                        else if (statut == "Non attribué")
                        {
                            <div class="empty"></div>
                        }
                    </div>
                </form>
            }

        </div>
    </div>
</div>