<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="~/css/demandes.css">
</head>
<body class="bodyAppli">
    <div>
        <h1 id="titre">Mes demandes d'action</h1>
    </div>
    <br />
    <main id="boxes">
        <div>
            <h3>Choisissez une action</h3>
            <form method="POST" id="idSelection">
                <select name="actionChoisie" id="actionChoisie">
                    @foreach (var actionBenef in ViewBag.listeActions)
                    {
                        <option value=@actionBenef.IdAction>@actionBenef.NomActivite du @actionBenef.DateAction.ToString("dd/MM/yyyy") et @actionBenef.IdAction</option>
                    }
                </select>
                <input id="idSubmit" type="submit" value="valider" />
            </form>
        </div>
        <br />
        <div id="maLigne">
            <div id="colonne">
                <h2 id="h2">Detail </h2>
                <br />
                <br />
                <table id="table1">
                    <tr>
                        <td>Type :</td>
                        <td>Courses</td>
                    </tr>
                    <tr>
                        <td>Date et heure :</td>
                        <td>05/03 à 16H00</td>
                    </tr>
                    <tr>
                        <td>Postée le :</td>
                        <td>28/02</td>
                    </tr>
                    <tr>
                        <td>Matériel demandé :</td>
                        <td>voiture</td>
                    </tr>
                    <tr onclick="myFunction(this)">
                        <td>Bénévole choisi</td>
                        <td>Robert</td>
                    </tr>
                </table>
                <br />
                <input class="btnSelect" type="button" value="annuler" />
                <script>
                </script>
            </div>


            <div id="colonne">
                <h2 id="h2">Reponses</h2>
                <br />
                <br />
                <div id="sousColonne">
                    <table id="table2">
                        <tr>
                            @if (ViewBag.lesReponses != null)
                            {
                                @for (int i = 0; i < ViewBag.lesReponses.Count; i++)
                                {
                                    
                                    <div class="description">
                                        <p>Date Reponse : @ViewBag.lesReponses[i].DateReponse.ToString("dd-MM-yyyy")</p>
                                        <p>Volontaire : @ViewBag.lesReponses[i].PrenomVolontaire @ViewBag.lesReponses[i].NomVolontaire ( @ViewBag.lesReponses[i].Age ) </p>
                                        @if((string)ViewBag.effectueActivite[i] != "")
                                        {
                                            <p>Dernier service : @ViewBag.effectueActivite[i].ToString() le @ViewBag.effectueDate[i].ToString("dd/MM/yyyy")</p>
                                        } else
                                        {
                                            <p>volontaire non rencontré</p>
                                        }
                                    </div>
                                }
                            }
                        </tr>
                    </table>
                </div>
                <input class="btnSelect" type="button" value="choisir bénévole" />
                <br />
                <script>
                    function myFunction(x) {
                        alert("Row index is: " + x.rowIndex);
                    }
                </script>
            </div>
        </div>
    </main> <!--A supprimer-->
</body>
</html>