<!DOCTYPE html>
<html lang="en">
<body class="bodyAppli">
    <div id="lesDemandes">
        <div id="divIntro">
            <h1 id="idH1">Mes demandes d'action</h1>
            <p id="idParagraphe1">Veuillez selectionner une action : </p>
        </div>
        <div id="formDemandes">
            @if (ViewBag.IdActionChoisi == null)
            {
                <form method="POST" id="idSelection" asp-action="Demandes" asp-controller="Profil">
                    <select name="actionChoisie" id="actionChoisie">
                        @foreach (var actionBenef in ViewBag.listeActions)
                        {
                            <option value=@actionBenef.IdAction>@actionBenef.NomActivite du @actionBenef.DateAction.ToString("dd/MM/yyyy")</option>
                        }
                    </select>
                    <input class="lesBoutons" id="idSubmit" type="submit" value="valider" />
                </form>
            }
            else
            {
                <form method="POST" id="idSelection" asp-action="Demandes" asp-controller="Profil">
                    <select name="actionChoisie" id="actionChoisie">

                        @foreach (var actionBenef in ViewBag.listeActions)
                        {
                            if (actionBenef.IdAction == ViewBag.IdActionChoisi)
                            {
                                <option value=@actionBenef.IdAction>@actionBenef.NomActivite du @actionBenef.DateAction.ToString("dd/MM/yyyy")</option>
                            }
                        }
                        @foreach (var actionBenef in ViewBag.listeActions)
                        {
                            if (actionBenef.IdAction != ViewBag.IdActionChoisi)
                            {
                                <option value=@actionBenef.IdAction>@actionBenef.NomActivite du @actionBenef.DateAction.ToString("dd/MM/yyyy")</option>
                            }
                        }
                    </select>
                    <input class="lesBoutons" id="idSubmit" type="submit" value="valider" />
                </form>
            }
        </div>
        <div id="maLigne">
            <div id="colonne1">
                <h2 id="h2">Details de l'action</h2>
                <br />
                @if (ViewBag.detailAction != null)
                {
                    <table id="table1">
                        <tr>
                            <td>Activité :</td>
                            <td>@ViewBag.detailAction.NomActivite</td>
                        </tr>
                        <tr>
                            <td>Date :</td>
                            @if (@ViewBag.detailAction.MinDebut == 0)
                            {
                                <td>le @ViewBag.detailAction.DateAction.ToString("dd/MM/yyyy") de @ViewBag.detailAction.HeureDebut H @ViewBag.detailAction.MinDebut à @ViewBag.detailAction.HeureFin H 00</td>
                            }
                            else
                            {
                                <td>le @ViewBag.detailAction.DateAction.ToString("dd/MM/yyyy") de @ViewBag.detailAction.HeureDebut H @ViewBag.detailAction.MinDebut à @ViewBag.detailAction.HeureFin H 00</td>
                            }
                        </tr>
                        <tr>
                            <td>Matériel :</td>
                            <td>@ViewBag.detailAction.Materiel</td>
                        </tr>


                        @if (ViewBag.detailBenevole != null)
                        {
                            @if (ViewBag.detailBenevole.NomUtil != null)
                            {
                                <tr>
                                    <td>Bénévole :</td>
                                    <td>@ViewBag.detailBenevole.NomUtil @ViewBag.detailBenevole.PrenomUtil</td>
                                </tr>
                                <tr>
                                    <td>E-mail :</td>
                                    <td>@ViewBag.detailBenevole.EmailUtil</td>
                                </tr>
                                <tr>
                                    <td>Tel :</td>
                                    <td>@ViewBag.detailBenevole.TelUtil</td>
                                </tr>
                                <tr>
                                    <td>Contact d'urgence :</td>
                                    <td>@ViewBag.detailBenevole.NomContactUrgence @ViewBag.detailBenevole.PrenomContactUrgence</td>
                                </tr>
                                <tr>
                                    <td>Tel contact d'urgence :</td>
                                    <td>@ViewBag.detailBenevole.TelContactUrgence</td>
                                </tr>
                            }
                        }
                    </table>
                }
                <script>
                </script>
            </div>

            <div id="colonne2">
                <h2 id="h2">Reponses : </h2>

                <br />
                @if (ViewBag.lesReponses != null)
                {
                    <p id="idParagraphe1">Veuillez choisir un bénévole </p>

                    @for (int i = 0; i < ViewBag.lesReponses.Count; i++)
                    {
                        <form id="form1" name="form1" asp-action="DemandesDeux" asp-controller="Profil">
                            <div class="description">
                                <p>Date Reponse : @ViewBag.lesReponses[i].DateReponse.ToString("dd-MM-yyyy") | </p>
                                <p>| Volontaire : @ViewBag.lesReponses[i].PrenomVolontaire @ViewBag.lesReponses[i].NomVolontaire ( @ViewBag.lesReponses[i].Age ) | </p>
                                @if ((string)ViewBag.effectueActivite[i] != "")
                                {
                                    <p>| Dernier service : @ViewBag.effectueActivite[i].ToString() le @ViewBag.effectueDate[i].ToString("dd/MM/yyyy")</p>
                                }
                                else
                                {
                                    <p>| volontaire non rencontré</p>
                                }
                                <input type="hidden" id="idAction" name="idAction" value="@ViewBag.lesReponses[i].IdAction.ToString()" />
                                <input type="hidden" id="idUtilisateur" name="idUtilisateur" value="@ViewBag.lesReponses[i].IdUtilisateur.ToString()" />
                                <input class="lesBoutons" id="btnSelect" type="submit" value="choisir" />
                            </div>
                        </form>
                    }
                }
                <br />
                <script>
                    function myFunction(x) {
                        alert("Row index is: " + x.rowIndex);
                    }
                </script>
            </div>
        </div>
    </div>
</body>
</html>
