@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1> Salut les AI108</h1>


<!--<h1> Le résultat de mon ouverture : @ViewBag.ouv </h1>-->


<h1> Mon truc a marché : @ViewBag.test</h1>

<h2> Je tente d'appeler une ligne entière : @ViewBag.result</h2>

<ul>
    @foreach (var action in ViewBag.data)
    {
        <li>@action.ToString()</li>
    }
</ul>
@{
    if (@ViewBag.test2 == "")
    {
        <h3>Ce volontaire est inconnu</h3>
    }
    else
    {
        <h3> Mon beneficiaire 4 regarde si mon utilisateur trois a déja fait @ViewBag.test2 pour lui le @ViewBag.test1.ToString("dd/MM/yyyy")</h3>
    }

<h3>@ViewBag.x</h3>
}